.background{
    height: 100vh;
    background-image: url(img/bg.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3em;
    font-weight: 700;
    padding: 0.15em 0 0.15em 0; 
}

.box-area{
    background: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/7d/2a/9f/7d2a9fca264faa93561f72b5fc885fec.gif);
    height: 500px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    padding: 1em;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}

#chances-area{
    padding-bottom:1em;
}

#user-input{
    width: 100%;
    padding: .5em;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: .5em;
}

.button{
    width: 100%;
    border: none;
    padding: .5em 1em .5em 1em;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: .5em;
}


.green{
    background-color: rgb(31, 107, 215);
    color: white;
    font-weight: 600;
}

.green:hover{
    background-color: rgb(104, 160, 237); ;
}

.red{
    border: 1px solid #f40c09;
    background-color: white;
    color: #f40c09;
    font-weight: 600;
}

.red:hover{
    background-color: #f40c09;
    color: white
}